@font-face {
   font-family: 'title1';
   font-display: swap;
   src: url('title1/font.ttf');
}
@font-face {
   font-family: 'title2';
   font-display: swap;
   src: url('title2/font.ttf');
}
@font-face {
   font-family: 'title3';
   font-display: swap;
   src: url('title3/font.TTF');
}
@font-face {
   font-family: 'text';
   font-display: swap;
   src: url('text/font.ttf');
}
@font-face {
   font-family: 'menu';
   font-display: swap;
   src: url('menu/font.ttf');
}
